# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
.DS_Store
.env*
.idea/
.netrc
.conf.env.swp
# Go workspace file
go.work

# Output for the converter to JSON
**/*.json

# Configuration files
config/config.dev.yaml
.terraform

# Terraform files
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.terraform.tfstate.lock.info
**/*.terraform.tfstate.backup
testenv/.terraform.tfstate.lock.info
